{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": null,
    "number-leading-zero": never,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"]
      }
    ]
  }
}
