.context-menu {
  position: absolute;
  right: 40px;
  background: black;
  padding: 10px 0;
  min-width: 150px;
  align-content: normal;
  border-radius: 5px;
}

.menu-item {
  padding: 10px;
  color: #fff;
}

.menu-item:hover {
  background: #f65261;
  cursor: pointer;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  color: #fff;
}

.menu-list {
  margin-top: 20px;
}
