.image-holder {
  background: url('/public/background.PNG') no-repeat;
  height: 400px;
  background-blend-mode: luminosity;
  background-color: #000;
  opacity: .7;
  background-size: cover;
  width: 100%;
}

.header-wrapper {
  position: relative;
  background: #5b5b5b;
  margin-bottom: 20px;
}

.content-holder {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  opacity: .89;
  background: #0d0303;
  padding: 0 30px;
  box-sizing: border-box;
}

.add-movie {
  background: #4d4d4e;
  border: none;
  padding: 20px 30px;
  font-weight: bold;
  color: #f65261;
  font-size: 18px;
  text-transform: uppercase;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f65261;
  font-size: 20px;
}

.top-bar div {
  padding: 20px;
}

.find-movie-wrapper {
  margin-left: 150px;
  margin-top: 50px;
}

.find-movie {
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}

.search-bar {
  background: #5b5b5b;
  box-shadow: none;
  width: 60%;
  height: 50px;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  color: #fff;
}

.search-bar::placeholder {
  color: #cdcdcd;
}

.search-button {
  background: #f65261;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  text-align: center;
  min-width: 150px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  margin-left: 20px;
}
