.tab-container{
    display: flex;
    flex-direction: row;
    margin-bottom: -2px;
}

.tab{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #ececec;
    font-weight: bold;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #f25261;
}